<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>九江职业技术学院成绩查询系统</title>
    <%- include('./common.css.ejs') %>
    <style>
        body {
            position: relative;
        }

        .semester-transcript {
            color: #333;
            box-sizing: border-box;
            width: 95%;
            min-height: 360px;
            margin: 60px auto;
            padding: 0 26px;
            padding-bottom: 24px;
            max-width: 560px;
            overflow: hidden;
            font-size: 12px;
        }

        .semester-transcript .title {
            font-size: 20px;
            text-align: center;
            margin: 24px 0;
        }

        .semester-transcript .info {
            overflow: hidden;
            position: relative;
        }

        .semester-transcript .info > * {
            text-align: center;
        }

        .semester-transcript .info > .username {
            float: left;
        }

        .semester-transcript .info > .semester {
            float: right;
        }

        .semester-transcript .info > .userid {
            width: 100%;
            text-align: center;
            position: absolute;
        }

        .underline {
            text-decoration: underline;
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        table td {
            border: none;
        }

        .results {
            margin-top: 18px;
            width: 100%;
        }

        .results th,
        .results td {
            text-align: center;
            padding: 8px 0;
        }

        .results th:first-child,
        .results td:first-child {
            text-align: left;
        }

        .results th:last-child,
        .results td:last-child {
            text-align: right;
        }

        .results tr {
            border-bottom: 1px solid #eee;
        }

        .results .name {
            width: 40%;
        }

        .results .credit,
        .results .type,
        .results .semester {
            width: 20%;
        }

        .transcript-container {
            overflow: hidden;
            min-height: 100vh;
            position: relative;
            padding-bottom: 64px;
            box-sizing: border-box;
        }

        footer {
            position: absolute;
        }
    </style>
</head>

<body>

    <div class="transcript-container">
        <% for(let result of results) { %>
        <div class="semester-transcript card">
            <h2 class="title">成绩单</h2>
            <div class="info">
                <div class="username">
                    姓名：<span class="underline"><%= result.username %></span>
                </div>
                <div class="userid">
                    学号：<span class="underline"><%= result.userid %></span>
                </div>
                <div class="semester">
                    学期：<span class="underline"><%= result.semester %></span>
                </div>
            </div>
            <table class="results">
                <thead>
                    <tr>
                        <th class="name">课程名称</th>
                        <th class="credit">学分</th>
                        <th class="type">形式</th>
                        <th class="score">成绩</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let item of result.transcript) { %>
                    <tr class="course">
                        <td class="name"><%= item.name %></td>
                        <td class="credit"><%= item.credit %></td>
                        <td class="type"><%= item.type %></td>
                        <td class="score"><%= item.score %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } %>

        <footer>
            <p>九江职业技术学院成绩查询系统 · <a href="https://github.com/Chocolatl/jvtc-transcript/">GitHub</a></p>
            <p>Copyright &copy; 2020 Chocolatl | <a href="https://blog.wcnm.kim/">Hcer</a></p>
        </footer>
    </div>

</body>
</html>
